.section-login {
  @media (min-width: 992px) {
    background: url("../images/login_left.png") no-repeat;
    width: 100vw;
    height: 100vh;
  }

  @media (max-width: 425px) {
    .page-login .page-mobile h1 {
      color: #072234;
      font-size: 30px;
    }

    .page-login .section-right h1 {
      display: none;
    }
  }

  .page-login {
    height: 100vh;

    .btn-login {
      background-color: #ff9e53;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .section-left {
      .forgot-password {
        margin-right: -60px;
      }
    }

    .section-right {
      h1 {
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 50px;
        color: #035;
      }
    }

    .link-register {
      margin-bottom: -30px;
    }
  }
}
